.header {
  display: flex;
  padding: 10px 16px;
  background: white;
  color: black;
  padding: 0;
  height: 200px;
}

.body {
  display: flex;
  height: 600px;
  margin: 0;
  color: black;
  background-color: black;
}
