.body {
  display: flex;
  margin: 0;
}
.header {
  display: flex;
  background: black;
  padding: 0;
  margin: 0;
  height: 100px;
}

.main {
  display: flex;
  height: 600px;
  margin: 0;
  background-color: white;
}
