/*Headign and nav buttons*/
.cultureHeading{
    background-color: orange;
    display: flex;
}
.cultureImage{
    max-width: 500px;
}



/*Food*/
.germanFood{
    background-color: blue;
}

/*History*/
.germanHistory{
    background-color: aquamarine;
}